font-family: 'Norican', cursive;
font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Cookie', cursive;
font-family: 'Rochester', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Rancho', cursive;
font-family: 'Just Another Hand', cursive;
font-family: 'Mogra', cursive;
font-family: 'Sue Ellen Francisco', cursive;
font-family: 'Grand Hotel', cursive;
font-family: 'Pompiere', cursive;